.search{
    
    flex: 1;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    
   /* for a flex box all the items defined within it are flexed
   but it does not extend to more than one level below*/
   /* so the contents of a flex box need not be divs*/
    /* do not need to set it to block now because search bar is in a div and has its own line*/
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192,192,192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
    width: 0; /* tp enable search bar to shrink*/

}

.search::placeholder{
    /* this targets the placeholder of the search bar*/
    font-family: Roboto;
    font-size: 16px;
}

.search-icon{
    height: 24px;
    margin-top: 0px;
    
    
}
.search-button{
    height: 40px;
    width: 64px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192,192,192);
    margin-left: -1px; /* pulls elements closer to left*/
    margin-right: 10px;
    position: relative;
    cursor: pointer;
   

}

.search-button, .voice-search-button, .upload-icon-container, 
.youtube-apps-container, .notifications-icon-container{
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* this will center the tip as it comes under the flexbox
    but its position to the bottom has been fixed thanks to 
    positon absolute*/
}

.search-button .tooltip, .voice-search-button .tooltip, 
.upload-icon-container .tooltip, .youtube-apps-container .tooltip
, .notifications-icon-container .tooltip{
    position: absolute;
    font-family: Roboto,Arial;
    background-color: grey;
    color: white;
    padding: 4px;
    padding-right: 8px;
   padding-left: 8px;
   border-radius: 2px;
   font-size: 12px;
   bottom: -30px;
   opacity: 0; /* opacity 0 makes it completely see through*/
   transition: opacity 0.15s;
   pointer-events: none;
   white-space: nowrap; /* this property will prevent the text from 
   wrapping around*/
   
}

.search-button:hover .tooltip, .voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip, .youtube-apps-container:hover .tooltip, 
.notifications-icon-container:hover .tooltip{
    opacity: 1;
    
    
}
.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
     /* fix the header to take up 50px in height*/
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228,228,228);
    z-index: 100;

    
    
}

.left-section{
    
    
    display: flex; /* turn the left section into a flexbox because w
    we want to center align items on the left*/
    align-items: center;
    
}
.right-section{
    
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 24px;
    flex-shrink: 0;/* this will prevent the flex box from shrinking when resizing window*/
}
.middle-section{
    
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 473px; /* limits the width when resizing browser*/
    display: flex;
    align-items: center;
    flex-direction: row; /* default is row anyways dont need this line*/

}

.hamburger-menu{
    height: 24px;
    margin-right: 24px;
    margin-left: 24px;
}
.youtube-logo{
    height: 20px;
}


.voice-search-button{
    height:40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color:  rgb(248,248,248);
    position: relative;
}



.voice-search-icon{
    height: 24px;
    margin-top: 0px;
    
}

.upload-icon{
    height: 24px;
}
.youtube-apps-icon{
    height: 24px;
}
.notifications-icon{
    height: 24px;
}
.current-user-pic{
    height: 32px;
    border-radius: 16px;
    
}

.notifications-icon-container{
    position: relative;
}
.notifications-count{
    position: absolute;
    top: -1px;
    right: -5px; /* negative to place it beyond our container*/
    background-color: rgb(200,0,0);
    color: white;
    font-family: Roboto,Arial;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}

